.main-title {
    text-align: center;
    padding: 20px;
    color: #0483B5;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 24px;
}
.container-cards {
    width: 40%;
}
.custom-card {
    max-width: 250px;
    margin: 0 auto;
  }

  h6 {
    white-space: nowrap;
    font-size: .75em;
  }