@import '../../../variables.css';

.header {
  width: 100%;
  height: 72px;
  background: linear-gradient(88.52deg, #4F41F2 11.95%, #0483B5 44.85%, #0483B5 96.9%);
  color: white;
  display: flex;
  align-items: center;
}

.header-title {
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 1em;
  letter-spacing: 2.5%;
}

@media (max-width: 768px) {
  .header-title {
    font-size: 1em !important;
  }
}


.exit-link {
  font-family: 'Roboto';
  font-size: 14px;
  color: white;
  text-decoration: none;
}

.icons {
  display: flex;
  place-content: center;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}