* {
    font-family: 'Roboto';
}

.form-main {
    width: 570px;
}

.container-form {
    width: 90%;
}

h4 {
    color: #0483B5 ;
}

#dni {
    font-size: .9em;
}

#nombre {
    font-size: .9em;
}

#clave {
    font-size: .9em;
}

#celular {
    font-size: .9em;
}

#email {
    font-size: .9em;
}

.text-end {
    font-size: .8em;
}

#btn-submit {
    color: #FFF;
    background-color: #05AFF2;
    font-family: 'Roboto';
    font-size: 14px !important;
    border-color: #FFF;
}

#btn-submit:hover {
    opacity: .6;
    transition: .8s all;
}